@mixin iconFont() {
  @font-face {
    font-family: 'icon';
    src: url('../assets/icons/icomoon.eot');
    src: url('../assets/icons/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../assets/icons/icomoon.woff') format('woff'),
    url('../assets/icons/icomoon.ttf') format('truetype'),
    url('../assets/icons/icomoon.svg#icomoon') format('svg');
  }
}

@mixin icon(){
  font-family: 'icon';
  speak: none;
  font-style: normal;
}

@mixin shadow($level) {
  @if $level == 1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  @if $level == 2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  @if $level == 3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  @if $level == 4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  @if $level == 5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
}

$colors: #9bca31, #0096a3, #00a3e0, #e0b179, #f35d31, #e90475, #f5a01a, #9b2424, #2d3d4b, #0000ff;

@for $i from 0 through 9 {
  .app-color-#{$i} {
    background-color: nth($colors, $i+1);

    &:hover {
      background-color: darken(nth($colors, $i+1), $color-hover-modifier-light);
    }
  }
}
