@import '_normalize.scss';

@import '_variables.scss';
@import '_mixins.scss';

@import '../_main.scss';

@import '../components/appBox/_appBox.scss';
@import '../components/newApp/_newApp.scss';
@import '../components/appDetails/_appDetails.scss';

body {
  background-color: $color-primary;
  margin: 0;
  font-family: $font-family;
  color: $color-text;
}

@include iconFont();
