<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Meldium</title>

    <link rel="stylesheet" type="text/css" href="app/dist/app.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
</head>

<body ng-app="meldium">
<div ng-controller="MainController" class="board">
    <div class="search">
        <i class="icon-search"></i>
        <input type="text" ng-model="search" searcher result-list="apps" reset-list="getFirstBatch()" min-chars="3" class="search-input" placeholder="Search all apps">
    </div>

    <div class="header">
        <span class="header-all-apps">ALL APPS</span>
        <span class="header-total">{{total}}</span>

        <button type="button" ng-click="addNewApp()" class="header-add-custom">+ Add custom app</button>

    </div>

    <div ng-if="showNewApp" class="new-app-wrapper">
        <new-app save-new-app="saveNewApp" cancel="cancelNewApp()"></new-app>
    </div>

    <div class="apps" infinite-scroll="paging()" infinite-scroll-distance="1">
        <h3 ng-hide="apps">Please wait, the apps are loading...</h3>

        <app-box ng-repeat="appIter in apps track by $index" app="appIter"
                 index="{{$index}}" open-details="openAppDetails"></app-box>
    </div>

    <app-details app="appWithDetails" close="closeAppDetails()"
                 ng-class="{'open': showAppDetails}"></app-details>

</div>

<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
<script src="app/dist/app.js"></script>

</body>

</html>
